.set-sidebar-color(@color) {
  .sidebar__cover {
    background-color: @color;
    color: @white;
  }

  &.sidebar--invert {
    .sidebar__cover {
      background-color: @color;
      color: @white;
    }
  }
}

body {
  left: 0px;
  transition: left 0.3s linear;
  position: relative;

  &.body--sidebar-push-left {
    overflow-x: hidden;
    left: 300px;

  }

  &.body--sidebar-push-right {
    overflow-x: hidden;
    left: -300px;
  }
}

@media (max-width: @l-mobile) {
  &.body--sidebar-push-left {
    left: 90vw !important;
  }

  &.body--sidebar-push-right {
    left: -90vw !important;
  }
}

.sidebar {
  display: block;
  position: fixed;
  width: 300px;
  height: 100%;
  top: 0;
  left: -300px;
  background-color: @u-gray;
  z-index: 10;
  overflow-y: auto;
  overflow-x: hidden;
  transition: left 0.3s linear, opacity 0.3s ease-in-out;
  opacity: 0;
  .shadow-1();
  .pt();

  .sidebar__cover {
    background-color: darken(@u-gray, 5%);
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
    height: auto;
    color: @d-gray;
    padding: 3em 1em 1em 1em;
    text-align: center;

    img {
      width: 50%;
      height: auto;
    }

    .sidebar__title {
      .bold();
    }

    img + .sidebar__title {
      margin-top: 1em;
    }
  }

  .sidebar__header {
    margin: 2rem 1rem 1rem 1rem;
    text-transform: uppercase;
    color: @m-gray;
    font-size: 0.9em;
    cursor: pointer;
    .bold();
  }

  .sidebar__item {
    display: flex;
    width: 100%;
    vertical-align: middle;
    color: @d-gray;
    padding: 1rem;
    cursor: pointer;
    box-sizing: border-box;
    position: relative;
    transition: background-color 0.3s linear;
    align-items: center;

    &:hover {
      background-color: darken(@u-gray, 5%);
      transition: background-color 0.3s linear;
    }

    &:active, &.sidebar__menu__item--active {
      background-color: darken(@u-gray, 15%);
      transition: background-color 0.3s linear;
    }

    i {
      min-width: 3rem;
      text-align: center;
      padding-right: 1.5rem;
      font-size: 1.5rem;
    }
  }

  .sidebar__separator {
    margin: 1em 1.5em;
    height: 1px;
    border-top: 1px solid darken(@u-gray, 10%);
  }

  &.sidebar--color-red { .set-sidebar-color(@red); }
  &.sidebar--color-orange { .set-sidebar-color(@orange); }
  &.sidebar--color-yellow { .set-sidebar-color(@yellow); }
  &.sidebar--color-olive { .set-sidebar-color(@olive); }
  &.sidebar--color-green { .set-sidebar-color(@green); }
  &.sidebar--color-blue { .set-sidebar-color(@blue); }
  &.sidebar--color-teal { .set-sidebar-color(@teal); }
  &.sidebar--color-purple { .set-sidebar-color(@purple); }
  &.sidebar--color-violet { .set-sidebar-color(@violet); }
  &.sidebar--color-pink { .set-sidebar-color(@pink); }
  &.sidebar--color-brown { .set-sidebar-color(@brown); }

  &.sidebar--invert {
    background-color: @black;

    .sidebar__cover {
      color: @white;
      background-color: lighten(@d-gray, 5%);
    }

    .sidebar__header {
      color: @m-gray;
    }

    .sidebar__item {
      color: @u-gray;

      &:hover {
        background-color: @d-gray;
      }

      &:active, &.sidebar__item--active {
        background-color: lighten(@d-gray, 5%);
      }
    }

    .sidebar__separator {
      border-top-color: lighten(@d-gray, 5%);
    }
  }

  &.sidebar--show {
    left: 0;
    opacity: 1;

    .overflow {
      display: block;
    }
  }

  &.sidebar--under-taskbar {
    top: 44px;

    height: ~"calc(100% - 44px)";
  }

  &.sidebar--pin-right {
    left: 100%;

    &.sidebar--show {
      left: ~"calc(100% - 300px)";
    }
  }
}

@media (max-width: @l-mobile) {
  .sidebar {
    width: 90%;
    left: -90%;

    &.sidebar--pin-right {
      left: 100%;

      &.sidebar--show {
        left: 10%;
      }
    }
  }
}