[data-tooltip] {
  position: relative;
  cursor: pointer;

  &:before, &:after {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s linear, visibility 0.3s linear, transform 0.3s linear;
    left: 50%;
  }

  &:hover {
    &:before, &:after {
      visibility: visible;
      opacity: 1;
    }
  }

  &:before {
    z-index: 101;
    border: 6px solid transparent;
    background: transparent;
    content: "";
    margin-left: -30%;
    bottom: 100%;
    border-top-color: fade(@d-gray, 95%);
  }

  &:after {
    z-index: 100;
    padding: 0.5rem;
    min-width: 10rem;
    box-sizing: border-box;
    border-radius: @smooth;
    background-color: fade(@d-gray, 95%);
    color: @u-gray;
    content: attr(data-tooltip);
    margin-left: -50%;
    bottom: ~'calc(100% + 12px)';
    .pt();
    font-size: 1rem;
    font-weight: normal;
  }

  &[data-tooltip-position="bottom"] {
    &:before {
      bottom: 0;
      margin-bottom: ~'calc(0% - 11px)';
      margin-top: 0;
      border-color: transparent;
      border-bottom-color: fade(@d-gray, 95%);
    }

    &:after {
      bottom: ~'calc(-100% - 11px)';
      margin-top: 0;
    }
  }

  &[data-tooltip-position="left"] {
    &:before {
      right: 100%;
      left: 0;
      margin-left: -12px;
      top: 50%;
      margin-top: -6px;
      border-color: transparent;
      border-left-color: fade(@d-gray, 95%);
    }

    &:after {
      bottom: 0;
      right: 100%;
      left: 0;
      margin-left: -100%;
      margin-right: 12px;
    }
  }

  &[data-tooltip-position="right"] {
    &:before {
      margin-left: 0;
      left: 100%;
      top: 6px;
      border-color: transparent;
      border-right-color: fade(@d-gray, 95%);
    }

    &:after {
      margin-left: 0;
      bottom: 0;
      left: ~'calc(100% + 12px)';
    }
  }
}