.taskbar {
	display: block;
	width: 100%;
	height: 44px;
	max-height: 44px;
	background-color: darken(@u-gray, 5%);	
	overflow: hidden;
	overflow-y: auto;
	z-index: 4;	
	.pt();

	.taskbar__item {
		width: auto;
		display: inline-block;
		color: @d-gray;
		float: left;
		cursor: pointer;
		padding: 0.75em 1em;
		overflow: hidden;
		height: 44px;
		max-height: 44px;
		text-overflow: ellipsis; 
		.anim(0.3s);		

		&:hover {
			background-color: darken(@u-gray, 10%);
			.anim(0.3s);
		}

		&:active {
			background-color: darken(@u-gray, 15%);
		}

		&.taskbar__item--logo {
			font-weight: bold;
		}

		&.taskbar__item--no-select {
			&:hover, &:active {
				background-color: darken(@u-gray, 5%);
			}
		}

		&.taskbar__item--pin-right {
			float: right;
		}

		&.taskbar__item--form {
			padding: 0.5em 1em;
			&:hover, &:active {
				background-color: darken(@u-gray, 5%);
			}
			.form {
				input {
					margin: -0.6em;
				}
			}
		}

		&.taskbar__item--button {
			padding: 0em 1em;
			&:hover, &:active {
				background-color: darken(@u-gray, 5%);
			}
			button, input[type="submit"], input[type="reset"], input[type="button"], .button {
				margin-top: 0.2em;
				padding-top: 0.4em;
			}
		}

		&.taskbar__item--image {
			img {
				width: 2em;
				height: 2em;
				margin: -0.4em -0.5em -0.7em -0.5em;
			}
		}

		&.taskbar__item--hover-color-red{ .set-taskbar-item-hover-color(@red); }
		&.taskbar__item--hover-color-orange { .set-taskbar-item-hover-color(@orange); }
		&.taskbar__item--hover-color-yellow { .set-taskbar-item-hover-color(@yellow); }
		&.taskbar__item--hover-color-olive { .set-taskbar-item-hover-color(@olive); }
		&.taskbar__item--hover-color-green { .set-taskbar-item-hover-color(@green); }
		&.taskbar__item--hover-color-teal { .set-taskbar-item-hover-color(@teal); }
		&.taskbar__item--hover-color-blue { .set-taskbar-item-hover-color(@blue); }
		&.taskbar__item--hover-color-violet { .set-taskbar-item-hover-color(@violet); }
		&.taskbar__item--hover-color-purple { .set-taskbar-item-hover-color(@purple); }
		&.taskbar__item--hover-color-pink { .set-taskbar-item-hover-color(@pink); }
		&.taskbar__item--hover-color-brown { .set-taskbar-item-hover-color(@brown); }
	}

	&.taskbar--invert {
		background-color: @d-gray;

		.taskbar__item {
			color: @u-gray;

			&:hover {
				background-color: lighten(@d-gray, 10%);
			}
			&:active {
				background-color: lighten(@d-gray, 15%);
			}

			&.taskbar__item--no-select {
				&:hover, &:active {
					background-color: @d-gray;
				}
			}

			&.taskbar__item--form {
				&:hover, &:active {
					background-color: @d-gray;
				}
			}
		}
	}

	&.taskbar--fixed {
		position: fixed;
	}
}

.set-taskbar-item-hover-color(@color) {
	&:hover, &:active {
		color: @color;
	}

}

.set-progress-color(@color) {
	background-color: lighten(@color, 20%);

	.progress__active {
		background-color: @color;
	}

	&.progress--with-text {
		.progress__active {			
			color: @white;
		}
	}
}

.set-progress-invert-color(@color) {
	background-color: darken(@color, 20%);

	.progress__active {
		background-color: @color;
	}

	&.progress--with-text {
		.progress__active {			
			color: @white;
		}
	}
}

.progress {
	display: block;
	width: ~"calc(100% - 0.3em)";
	height: 1em;
	margin: 0.15em;
	background-color: darken(@u-gray, 5%);
	border-radius: 0.2em;
	position: relative;

	.progress__active {
		background-color: darken(@u-gray, 25%);
		position: absolute;
		left: 0em;
		height: 1em;
		border-radius: 0.2em;
		top: 0em; 		
	}

	&.progress--color-red { .set-progress-color(@red); }
	&.progress--color-orange { .set-progress-color(@orange); }
	&.progress--color-yellow { .set-progress-color(@yellow); }
	&.progress--color-olive { .set-progress-color(@olive); }
	&.progress--color-green { .set-progress-color(@green); }
	&.progress--color-blue { .set-progress-color(@blue); }
	&.progress--color-teal { .set-progress-color(@teal); }
	&.progress--color-purple { .set-progress-color(@purple); }
	&.progress--color-violet { .set-progress-color(@violet); }
	&.progress--color-pink { .set-progress-color(@pink); }
	&.progress--color-brown { .set-progress-color(@brown); }

	&.progress--invert {
		background-color: lighten(@d-gray, 5%);

		.progress__active {
			background-color: lighten(@d-gray, 25%);
		}

		&.progress--color-red { .set-progress-invert-color(@red); }
		&.progress--color-orange { .set-progress-invert-color(@orange); }
		&.progress--color-yellow { .set-progress-invert-color(@yellow); }
		&.progress--color-olive { .set-progress-invert-color(@olive); }
		&.progress--color-green { .set-progress-invert-color(@green); }
		&.progress--color-blue { .set-progress-invert-color(@blue); }
		&.progress--color-teal { .set-progress-invert-color(@teal); }
		&.progress--color-purple { .set-progress-invert-color(@purple); }
		&.progress--color-violet { .set-progress-invert-color(@violet); }
		&.progress--color-pink { .set-progress-invert-color(@pink); }
		&.progress--color-brown { .set-progress-invert-color(@brown); }
	}

	&.progress--size-thin {
		height: 0.5em;
		margin-top: 0.25em;

		.progress__active {
			height: 0.5em;	
		}
	}

	&.progress--no-smooth {
		border-radius: 0px;

		.progress__active {
			border-radius: 0px;
		}
	}

	&.progress--rounded {
		border-radius: 1em;

		.progress__active {
			border-radius: 1em;
		}
	}

	&.progress--with-text {
		.progress__active {
			vertical-align: center;
			min-width: 2em;
			color: @d-gray;
			.pt();

			.progress__active__text {
				width: 100%;
				text-align: center;
				font-size: 0.8em;
			}
		}
	}
}

.set-sidebar-color(@color) {
	.sidebar__cover {
		background-color: @color;
		color: @white;
	}

	.sidebar__menu {
		.sidebar__menu__item {			
			&:hover {
				color: @color;
			}
			&:active, &.sidebar__menu__item--active {
				color: @white;
			}
		}
	}

	&.sidebar--invert {
		.sidebar__cover {
			background-color: @color;
			color: @white;
		}

		.sidebar__menu {
			.sidebar__menu__item {
				&:hover {
					color: @color;
				}		
				&:active, &.sidebar__menu__item--active {
					color: @color;
				}		
			}
		}
	}
}

.sidebar {
	display: block;
	position: fixed;
	width: 300px;
	height: 100%;
	top: 0;
	left: -300px;
	background-color: @u-gray;
	.shadow-1();
	z-index: 5;
	overflow-y: auto;
	overflow-x: hidden;
	.pt();
	.anim(0.3s);

	.sidebar__cover {
		background-color: darken(@u-gray, 5%);
		cursor: pointer;
		width: 100%;
		box-sizing: border-box;
		height: auto;
		color: @d-gray;
		padding: 3em 1em 1em 1em;
		text-align: center;

		.sidebar__cover__title {			
			font-weight: bold;			
		}

		img ~ .sidebar__cover__title {
			margin-top: 1em;
		}
	}

	.sidebar__menu {
		width: 100%;
		height: auto;
		position: relative;	
		margin: 1em 0em;	

		.sidebar__menu__header {
			margin: 0.25em 1em;
			text-transform: uppercase;
			color: @m-gray;
			font-weight: bold;
			font-size: 0.9em;
			cursor: pointer;
		}

		.sidebar__menu__item {
			width: 100%;
			vertical-align: middle;
			background-color: @white;
			color: @d-gray;
			padding: 0.5em 0.5em 0.5em 1em;
			cursor: pointer;
			box-sizing: border-box;
			position: relative;
			.anim(0.3s);


			&:hover {
				background-color: darken(@u-gray, 5%);
				.anim(0.3s);
			}
			
			i {
				margin-right: 1em;
				font-size: 0.9em;
			}

			&:active, &.sidebar__menu__item--active {
				background-color: darken(@u-gray, 15%);
				.anim(0.3s);
			}

			.sidebar__menu__item__icon {
				position: absolute;
				display: inline-block;
				color: @l-gray;
				right: 0em;
				// top: ~'calc(75% - 1em)';
				.anim(0.3s);

				&:hover {
					color: @m-gray;
					.anim(0.3s);
				}
			}
		}

		.sidebar__menu__separator {
			margin: 1em 1.5em;
			height: 1px;
			border-top: 1px solid darken(@u-gray, 10%);
		}
	}

	&.sidebar--color-red { .set-sidebar-color(@red); }
	&.sidebar--color-orange { .set-sidebar-color(@orange); }
	&.sidebar--color-yellow { .set-sidebar-color(@yellow); }
	&.sidebar--color-olive { .set-sidebar-color(@olive); }
	&.sidebar--color-green { .set-sidebar-color(@green); }
	&.sidebar--color-blue { .set-sidebar-color(@blue); }
	&.sidebar--color-teal { .set-sidebar-color(@teal); }
	&.sidebar--color-purple { .set-sidebar-color(@purple); }
	&.sidebar--color-violet { .set-sidebar-color(@violet); }
	&.sidebar--color-pink { .set-sidebar-color(@pink); }
	&.sidebar--color-brown { .set-sidebar-color(@brown); }

	&.sidebar--invert {
		background-color: @d-gray; 

		.sidebar__cover {
			color: @white;
			background-color: lighten(@d-gray, 5%);
		}

		.sidebar__menu {
			.sidebar__menu__header {
				color: @l-gray;
			}

			.sidebar__menu__item {
				background-color: @d-gray;
				color: @u-gray;

				&:hover {
					background-color: lighten(@d-gray, 5%);
				}

				&:active, &.sidebar__menu__item--active {
					background-color: lighten(@d-gray, 5%);
				}

				.sidebar__menu__item__icon {
					color: @m-gray;

					&:hover {
						color: @l-gray;
					}
				}				
			}

			.sidebar__menu__separator {
				border-top-color: lighten(@d-gray, 10%);
			}
		}
	}

	&.sidebar--show {
		left: 0px;

		.overflow {
			display: block;
		}
	}

	&.sidebar--under-taskbar {
		top: 44px;

		height: ~"calc(100% - 44px)";		
	}

	&.sidebar--pin-right {
		left: 100%;

		&.sidebar--show {
			left: ~"calc(100% - 300px)";
		}
	}
}

.overflow {
	background-color: @black;
	opacity: 0.7;
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0px;
	top: 0px;
	z-index: 3;
	cursor: pointer;

	&.overflow--under-taskbar {
		top: 44px;
		height: ~"calc(100% - 44px)";
	}
}


@media (max-width: @l-mobile) {
	.sidebar {
		width: 90%;
		left: -90%;

		&.sidebar--pin-right {
			left: 100%;

			&.sidebar--show {
				left: 10%;
			}
		}
	}
}