.dropdown {
	border: 1px solid darken(@u-gray, 15%);
	background-color: @white;
	border-radius: 6px;
	display: none;
	flex-direction: column;
	user-select: none;
	min-width: 200px;
	position: absolute;	

	&.dropdown--show {
		display: flex;
	}

	.dropdown__item {
		display: flex;
		flex: 1;
		color: @d-gray;
		padding: 0.2em;
		cursor: pointer;
		align-items: center;
		.anim(0.3s);
		.pt();

		&:first-child {
			border-radius: 6px 6px 0px 0px;
		}

		&:last-child {
			border-radius: 0px 0px 6px 6px;
		}

		&:hover, &:active {
			background-color: darken(@u-gray, 3%);
			.anim(0.3s);

			.dropdown__item__action {	
				&:not(:first-child) {
					border-left: 1px solid darken(@u-gray, 10%);
					.anim(0.3s);				
				}
			}
		}

		.dropdown__item__tooltip {
			color: lighten(@m-gray, 10%);
			font-size: 0.9em;
			margin: 0em 0.75em;
			flex: none;
		}

		.dropdown__item__action {
			display: flex;
			padding: 0.5em 1em;
			flex: 1;			
			box-sizing: border-box;
			color: @d-gray;

			&a {
				color: @d-gray;
			}

			.dropdown__item__action__icon {
				flex: none;
			}

			.dropdown__item__action__icon+.dropdown__item__action__label {				
				margin-left: 1em;
			}

			.dropdown__item__action__label {
				flex: 1;
			}

			&:not(:first-child) {
				border-left: 1px solid transparent;		
				.anim(0.3s);			
			}

			&.dropdown__item__action--no-stretch {
				flex: none;
			}
		}
	}
}

.set-select-color(@color) {
	.select__menu {
		border-color: @color;
	}

	.select__options {
		.select__options__item {
			&:hover {
				background-color: lighten(@color, 15%);
				color: @white;
			}

			&:active {
				background-color: lighten(@color, 5%);
				color: @white;
			}

			&.select__options__item--active {
				background-color: @color;
				color: @white;
			}
		}
	}

	&.select--invert {
		.select__options {
			.select__options__item {
				&:hover {
					background-color: darken(@color, 15%);
					color: @white;
				}

				&:active {
					background-color: darken(@color, 5%);
					color: @white;
				}

				&.select__options__item--active {
					background-color: @color;
					color: @white;
				}
			}
		}
	}
}

.select {
	.select__menu {
		display: inline-block;
		margin: 0em 1em;
		background-color: @white;
		color: @d-gray;
		.pt();
		padding: 0.5em 2.5em 0.5em 1em;
		box-sizing: border-box;
		cursor: pointer;
		border: 2px solid darken(@u-gray, 10%);
		background-image: url(@d-arrow-down);
		background-position: right 0.5em center;
		background-repeat: no-repeat;
		background-size: 1em;
		border-radius: 6px;
		transition: border-radius 0.3s linear;

		&:hover {
			background-color: darken(@u-gray, 5%);
		}

		&:focus {
			border-color:  darken(@u-gray, 15%);
			background-color: darken(@u-gray, 5%);
		}

		&.select__menu--open {
			background-image: url(@d-arrow-up);
			border-radius: 6px 6px 0px 0px;
			transition: border-radius 0.3s linear;

			&.select__menu--top {
				border-radius: 0px 0px 6px 6px;
			}
		}


	}

	.select__options {
		display: none;
		position: absolute;
		z-index: 5;
		background-color: @u-gray;
		border: 2px solid darken(@u-gray, 10%);
		padding: 0.25em 0em;
		box-sizing: border-box;
		border-radius: 0px 0px 6px 6px;
		.card_shadow();

		&.select__options--top {
			border-radius: 6px 6px 0px 0px;
		}

		.select__options__item {
			padding: 0.5em 1em;
			cursor: pointer;
			background-color: @u-gray;
			color: @d-gray;
			.anim(0.3s);
			box-sizing: border-box;

			&:hover {
				background-color: darken(@u-gray, 10%);
				.anim(0.3s);
			}

			&:active {
				background-color: darken(@u-gray, 15%);
			}

			&.select__options__item--active {
				background-color: darken(@u-gray, 20%);
			}
		}
	}

	&.select--invert {
		.select__menu {
			background-color: @d-gray;
			color: @u-gray;
			border-color:lighten(@d-gray, 10%);
			background-image: url(@l-arrow-down);

			&:hover {
				background-color: lighten(@d-gray, 5%);
			}

			&:focus {
				border-color:  lighten(@d-gray, 15%);
				background-color: lighten(@d-gray, 5%);
			}

			&.select__menu--open {
				background-image: url(@l-arrow-up);
			}
		}
		.select__options {
			background-color: @d-gray;
			border: 2px solid lighten(@d-gray, 5%);
			padding: 0.25em 0em;

			.select__options__item {
				background-color: @d-gray;
				color: @u-gray;

				&:hover {
					background-color: lighten(@d-gray, 10%);
				}

				&:active {
					background-color: lighten(@d-gray, 15%);
				}

				&.select__options__item--active {
					background-color: lighten(@d-gray, 20%);
				}
			}
		}
	}

	&.select--color-red { .set-select-color(@red); }
	&.select--color-orange { .set-select-color(@orange); }
	&.select--color-yellow { .set-select-color(@yellow); }
	&.select--color-olive { .set-select-color(@olive); }
	&.select--color-green { .set-select-color(@green); }
	&.select--color-teal { .set-select-color(@teal); }
	&.select--color-blue { .set-select-color(@blue); }
	&.select--color-violet { .set-select-color(@violet); }
	&.select--color-purple { .set-select-color(@purple); }
	&.select--color-pink { .set-select-color(@pink); }
	&.select--color-brown { .set-select-color(@brown); }
	&.select--color-black { .set-select-color(@d-gray); }
}