// @import url(http://fonts.googleapis.com/css?family=PT+Sans:700,400);

.pt {
	font-family: 'PT Sans', 'Segoe UI', sans-serif;
	//font-family: 'HelveticaNeueLight', 'Segoe UI', sans-serif;
}

/* font-family: "PTSansRegular"; */
@font-face {
    font-family: "PT Sans";
    src: url("fonts/PTSansRegular.eot");
    src: url("fonts/PTSansRegular.eot?#iefix")format("embedded-opentype"),
    url("fonts/PTSansRegular.woff") format("woff"),
    url("fonts/PTSansRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "PTSansItalic"; */
@font-face {
    font-family: "PT Sans Italic";
    src: url("fonts/PTSansItalic.eot");
    src: url("fonts/PTSansItalic.eot?#iefix")format("embedded-opentype"),
    url("fonts/PTSansItalic.woff") format("woff"),
    url("fonts/PTSansItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "PTSansBold"; */
@font-face {
    font-family: "PT Sans Bold";
    src: url("fonts/PTSansBold.eot");
    src: url("fonts/PTSansBold.eot?#iefix")format("embedded-opentype"),
    url("fonts/PTSansBold.woff") format("woff"),
    url("fonts/PTSansBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}


@font-face {
    font-family: HelveticaNeueUltra; 
    src: url(fonts/HelveticaNeueCyr-UltraLight_0.otf); 
}

@font-face {
    font-family: HelveticaNeueThin; 
    src: url(fonts/HelveticaNeueCyr-Thin.otf); 
}

@font-face {
    font-family: HelveticaNeueLight; 
    src: url(fonts/HelveticaNeueCyr-Light.otf); 
}

@font-face {
    font-family: HelveticaNeueMedium; 
    src: url(fonts/HelveticaNeueCyr-Medium.otf); 
}

@font-face {
    font-family: HelveticaNeueBold; 
    src: url(fonts/HelveticaNeueCyr-Bold.otf); 
}

@font-face {
    font-family: HelveticaNeueBlack; 
    src: url(fonts/HelveticaNeueCyr-Black.otf); 
}

@font-face {
    font-family: HelveticaNeueRoman; 
    src: url(fonts/HelveticaNeueCyr-Roman.otf);
}

.helvetica-ultra { font-family: HelveticaNeueUltra; }
.helvetica-thin { font-family: HelveticaNeueThin; }
.helvetica-light { font-family: HelveticaNeueLight; }
.helvetica-medium { font-family: HelveticaNeueMedium; }
.helvetica-bold { font-family: HelveticaNeueBold; }
.helvetica-black { font-family: HelveticaNeueBlack; }
.helvetica-roman { font-family: HelveticaNeueRoman; }

.anim(@sec) {	
	transition: all @sec linear;
}

.only-d { display: block !important; }
.only-m, .only-t { display: none !important;}

.hide-d { display: none !important; }
.hide-m { display: block !important; }
.hide-t { display: block !important; }

@media (max-width: @tablet) {
	.only-d, .only-m { display: none !important; }
	.only-t { display: block !important; }

	.hide-d { display: block !important; }
	.hide-m { display: block !important; }
	.hide-t { display: none !important; }
}

@media (max-width: @mobile) {
	.only-d, .only-t { display: none !important; }
	.only-m { display: block !important; }

	.hide-d { display: block !important; }
	.hide-m { display: none !important; }
	.hide-t { display: block !important; }
}

.red-bg { background-color: @red !important; }
.u-red-bg { background-color: @u-red !important; }
.l-red-bg { background-color: @l-red !important; }
.d-red-bg { background-color: @d-red !important; }

.orange-bg { background-color: @orange !important; }
.u-orange-bg { background-color: @u-orange !important; }
.l-orange-bg { background-color: @l-orange !important; }
.d-orange-bg { background-color: @d-orange !important; }

.yellow-bg { background-color: @yellow !important; }
.u-yellow-bg { background-color: @u-yellow !important; }
.l-yellow-bg { background-color: @l-yellow !important; }
.d-yellow-bg { background-color: @d-yellow !important; }

.olive-bg { background-color: @olive !important; }
.u-olive-bg { background-color: @u-olive !important; }
.l-olive-bg { background-color: @l-olive !important; }
.d-olive-bg { background-color: @d-olive !important; }

.green-bg { background-color: @green !important; }
.u-green-bg { background-color: @u-green !important; }
.l-green-bg { background-color: @l-green !important; }
.d-green-bg { background-color: @d-green !important; }

.teal-bg { background-color: @teal !important; }
.u-teal-bg { background-color: @u-teal !important; }
.l-teal-bg { background-color: @l-teal !important; }
.d-teal-bg { background-color: @d-teal !important; }

.blue-bg { background-color: @blue !important; }
.u-blue-bg { background-color: @u-blue !important; }
.l-blue-bg { background-color: @l-blue !important; }
.d-blue-bg { background-color: @d-blue !important; }

.violet-bg { background-color: @violet !important; }
.u-violet-bg { background-color: @u-violet !important; }
.l-violet-bg { background-color: @l-violet !important; }
.d-violet-bg { background-color: @d-violet !important; }

.purple-bg { background-color: @purple !important; }
.u-purple-bg { background-color: @u-purple !important; }
.l-purple-bg { background-color: @l-purple !important; }
.d-purple-bg { background-color: @d-purple !important; }

.pink-bg { background-color: @pink !important; }
.u-pink-bg { background-color: @u-pink !important; }
.l-pink-bg { background-color: @l-pink !important; }
.d-pink-bg { background-color: @d-pink !important; }

.brown-bg { background-color: @brown !important; }
.u-brown-bg { background-color: @u-brown !important; }
.l-brown-bg { background-color: @l-brown !important; }
.d-brown-bg { background-color: @d-brown !important; }

.u-gray-bg { background-color: @u-gray !important; }
.l-gray-bg { background-color: @l-gray !important; }
.m-gray-bg { background-color: @m-gray !important; }
.d-gray-bg { background-color: @d-gray !important; }
.black-bg { background-color: @black !important; }
.white-bg { background-color: @white !important; }

.red-fg { color: @red !important; }
.u-red-fg { color: @u-red !important; }
.l-red-fg { color: @l-red !important; }
.d-red-fg { color: @d-red !important; }

.orange-fg { color: @orange !important; }
.u-orange-fg { color: @u-orange !important; }
.l-orange-fg { color: @l-orange !important; }
.d-orange-fg { color: @d-orange !important; }

.yellow-fg { color: @yellow !important; }
.u-yellow-fg { color: @u-yellow !important; }
.l-yellow-fg { color: @l-yellow !important; }
.d-yellow-fg { color: @d-yellow !important; }

.olive-fg { color: @olive !important; }
.u-olive-fg { color: @u-olive !important; }
.l-olive-fg { color: @l-olive !important; }
.d-olive-fg { color: @d-olive !important; }

.green-fg { color: @green !important; }
.u-green-fg { color: @u-green !important; }
.l-green-fg { color: @l-green !important; }
.d-green-fg { color: @d-green !important; }

.teal-fg { color: @teal !important; }
.u-teal-fg { color: @u-teal !important; }
.l-teal-fg { color: @l-teal !important; }
.d-teal-fg { color: @d-teal !important; }

.blue-fg { color: @blue !important; }
.u-blue-fg { color: @u-blue !important; }
.l-blue-fg { color: @l-blue !important; }
.d-blue-fg { color: @d-blue !important; }

.violet-fg { color: @violet !important; }
.u-violet-fg { color: @u-violet !important; }
.l-violet-fg { color: @l-violet !important; }
.d-violet-fg { color: @d-violet !important; }

.purple-fg { color: @purple !important; }
.u-purple-fg { color: @u-purple !important; }
.l-purple-fg { color: @l-purple !important; }
.d-purple-fg { color: @d-purple !important; }

.pink-fg { color: @pink !important; }
.u-pink-fg { color: @u-pink !important; }
.l-pink-fg { color: @l-pink !important; }
.d-pink-fg { color: @d-pink !important; }

.brown-fg { color: @brown !important; }
.u-brown-fg { color: @u-brown !important; }
.l-brown-fg { color: @l-brown !important; }
.d-brown-fg { color: @d-brown !important; }

.u-gray-fg { color: @u-gray !important; }
.l-gray-fg { color: @l-gray !important; }
.m-gray-fg { color: @m-gray !important; }
.d-gray-fg { color: @d-gray !important; }
.black-fg { color: @black !important; }
.white-fg { color: @white !important; }

.no-padding { padding: 0px !important; }
.no-margin { margin: 0px !important; }

.card_shadow { box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12); }
.shadow-1 {	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important; }
.shadow-2 {	box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important; }
.shadow-3 {	box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19) !important; }
.shadow-4 {	box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21) !important; }
.shadow-5 {	box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22) !important; }

.align-center { text-align: center;	}
.align-left {	text-align: left;	}
.align-right {	text-align: right;	}
.align-justify {text-align: justify;}

.hidden {display: none;}

.pin-left {	float: left !important; }
.pin-right { float: right !important; }

.bold { font-weight: bold; }
.italic { font-style: italic; }
.underline { text-decoration: underline; }

a {
	text-decoration: none;
}

code {
	color: @red;
	padding: 0.05em 0.1em;
	font-size: 0.95em;
	background-color: @u-gray;
	border-radius: 0.05em;
}

.margin-left-0 { margin-left: 0em !important; }
.margin-left-1 { margin-left: 1em !important; }
.margin-left-3 { margin-left: 3em !important; }
.margin-left-5 { margin-left: 5em !important; }

.margin-right-0 { margin-right: 0em !important; }
.margin-right-1 { margin-right: 1em !important; }
.margin-right-3 { margin-right: 3em !important; }
.margin-right-5 { margin-right: 5em !important; }

.margin-top-0 { margin-top: 0em !important; }
.margin-top-1 { margin-top: 1em !important; }
.margin-top-3 { margin-top: 3em !important; }
.margin-top-5 { margin-top: 5em !important; }

.margin-bottom-0 { margin-bottom: 0em !important; }
.margin-bottom-1 { margin-bottom: 1em !important; }
.margin-bottom-3 { margin-bottom: 3em !important; }
.margin-bottom-5 { margin-bottom: 5em !important; }

.margin-horizontal-0 { margin-left: 0em !important; margin-right: 0em !important; }
.margin-horizontal-1 { margin-left: 1em !important; margin-right: 1em !important; }
.margin-horizontal-3 { margin-left: 3em !important; margin-right: 3em !important; }
.margin-horizontal-5 { margin-left: 5em !important; margin-right: 5em !important; }

.margin-vertical-0 { margin-top: 0em !important; margin-bottom: 0em !important; }
.margin-vertical-1 { margin-top: 1em !important; margin-bottom: 1em !important; }
.margin-vertical-3 { margin-top: 3em !important; margin-bottom: 3em !important; }
.margin-vertical-5 { margin-top: 5em !important; margin-bottom: 5em !important; }

.margin-0 { margin: 0em !important; }
.margin-1 { margin: 1em !important; }
.margin-3 { margin: 3em !important; }
.margin-5 { margin: 5em !important; }

.padding-left-0 { padding-left: 0em !important; }
.padding-left-1 { padding-left: 1em !important; }
.padding-left-3 { padding-left: 3em !important; }
.padding-left-5 { padding-left: 5em !important; }

.padding-right-0 { padding-right: 0em !important; }
.padding-right-1 { padding-right: 1em !important; }
.padding-right-3 { padding-right: 3em !important; }
.padding-right-5 { padding-right: 5em !important; }

.padding-top-0 { padding-top: 0em !important; }
.padding-top-1 { padding-top: 1em !important; }
.padding-top-3 { padding-top: 3em !important; }
.padding-top-5 { padding-top: 5em !important; }

.padding-bottom-0 { padding-bottom: 0em !important; }
.padding-bottom-1 { padding-bottom: 1em !important; }
.padding-bottom-3 { padding-bottom: 3em !important; }
.padding-bottom-5 { padding-bottom: 5em !important; }

.padding-horizontal-0 { padding-left: 0em !important; padding-right: 0em !important; }
.padding-horizontal-1 { padding-left: 1em !important; padding-right: 1em !important; }
.padding-horizontal-3 { padding-left: 3em !important; padding-right: 3em !important; }
.padding-horizontal-5 { padding-left: 5em !important; padding-right: 5em !important; }

.padding-vertical-0 { padding-top: 0em !important; padding-bottom: 0em !important; }
.padding-vertical-1 { padding-top: 1em !important; padding-bottom: 1em !important; }
.padding-vertical-3 { padding-top: 3em !important; padding-bottom: 3em !important; }
.padding-vertical-5 { padding-top: 5em !important; padding-bottom: 5em !important; }

.padding-0 { padding: 0em !important; }
.padding-1 { padding: 1em !important; }
.padding-3 { padding: 3em !important; }
.padding-5 { padding: 5em !important; }

.size-fix {
	box-sizing: border-box;
}

.fixed {
	position: fixed !important;
}

.absolute {
	position: absolute !important;
}

.relative {
	position: relative !important;
}

.set-circle-color(@color) {
	width: 1em;
	height: 1em;
	background-color: @color;
	border-radius: 1em;
	display: inline-block;
}

.red-circle { .set-circle-color(@red); }
.orange-circle { .set-circle-color(@orange); }
.yellow-circle { .set-circle-color(@yellow); }
.olive-circle { .set-circle-color(@olive); }
.green-circle { .set-circle-color(@green); }
.teal-circle { .set-circle-color(@teal); }
.blue-circle { .set-circle-color(@blue); }
.violet-circle { .set-circle-color(@violet); }
.purple-circle { .set-circle-color(@purple); }
.pink-circle { .set-circle-color(@pink); }
.brown-circle { .set-circle-color(@brown); }
.u-gray-circle { .set-circle-color(@u-gray); }
.l-gray-circle { .set-circle-color(@l-gray); }
.m-gray-circle { .set-circle-color(@m-gray); }
.d-gray-circle { .set-circle-color(@d-gray); }
.black-circle { .set-circle-color(@black); }
.white-circle { .set-circle-color(@white); }

.set-ring-color(@color) {
	width: 1em;
	height: 1em;
	background-color: transparent;
	border: 1px solid @color;
	box-sizing: border-box;
	border-radius: 1em;
	display: inline-block;
}

.reg-ring { .set-ring-color(@red); }
.orange-ring { .set-ring-color(@orange); }
.yellow-ring { .set-ring-color(@yellow); }
.olive-ring { .set-ring-color(@olive); }
.green-ring { .set-ring-color(@green); }
.teal-ring { .set-ring-color(@teal); }
.blue-ring { .set-ring-color(@blue); }
.violet-ring { .set-ring-color(@violet); }
.purple-ring { .set-ring-color(@purple); }
.pink-ring { .set-ring-color(@pink); }
.brown-ring { .set-ring-color(@brown); }
.u-gray-ring { .set-ring-color(@u-gray); }
.l-gray-ring { .set-ring-color(@l-gray); }
.m-gray-ring { .set-ring-color(@m-gray); }
.d-gray-ring { .set-ring-color(@d-gray); }
.black-ring { .set-ring-color(@black); }
.white-ring { .set-ring-color(@white); }

::-webkit-scrollbar {
	width: 0.5em;
	height: 0.5em;
}

::-webkit-scrollbar-track {
    background-color: @m-gray;
    border: 1px solid @m-gray;
}
 
::-webkit-scrollbar-thumb {
   	background-color: lighten(@d-gray, 5%);
}
::-webkit-scrollbar-thumb:window-inactive {
	background-color: lighten(@d-gray, 5%);
}

