@import url(http://fonts.googleapis.com/css?family=PT+Sans:700,400);

.pt {
	font-family: 'PT Sans', 'Segoe UI', sans-serif;
}

.anim(@sec) {	
	transition: all @sec linear;
}

.only-d { display: block !important; }
.only-m, .only-t { display: none !important;}

.hide-d { display: none !important; }
.hide-m { display: block !important; }
.hide-t { display: block !important; }

@media (max-width: @tablet) {
	.only-d, .only-m { display: none !important; }
	.only-t { display: block !important; }

	.hide-d { display: block !important; }
	.hide-m { display: block !important; }
	.hide-t { display: none !important; }
}

@media (max-width: @mobile) {
	.only-d, .only-t { display: none !important; }
	.only-m { display: block !important; }

	.hide-d { display: block !important; }
	.hide-m { display: none !important; }
	.hide-t { display: block !important; }
}

.reg-bg { background-color: @red !important; }
.orange-bg { background-color: @orange !important; }
.yellow-bg { background-color: @yellow !important; }
.olive-bg { background-color: @olive !important; }
.green-bg { background-color: @green !important; }
.teal-bg { background-color: @teal !important; }
.blue-bg { background-color: @blue !important; }
.violet-bg { background-color: @violet !important; }
.purple-bg { background-color: @purple !important; }
.pink-bg { background-color: @pink !important; }
.brown-bg { background-color: @brown !important; }
.u-gray-bg { background-color: @u-gray !important; }
.l-gray-bg { background-color: @l-gray !important; }
.m-gray-bg { background-color: @m-gray !important; }
.d-gray-bg { background-color: @d-gray !important; }
.black-bg { background-color: @black !important; }
.white-bg { background-color: @white !important; }

.red-fg { color: @red !important; }
.orange-fg { color: @orange !important; }
.yellow-fg { color: @yellow !important; }
.olive-fg { color: @olive !important; }
.green-fg { color: @green !important; }
.teal-fg { color: @teal !important; }
.blue-fg { color: @blue !important; }
.violet-fg { color: @violet !important; }
.purple-fg { color: @purple !important; }
.pink-fg { color: @pink !important; }
.brown-fg { color: @brown !important; }
.u-gray-fg { color: @u-gray !important; }
.l-gray-fg { color: @l-gray !important; }
.m-gray-fg { color: @m-gray !important; }
.d-gray-fg { color: @d-gray !important; }
.black-fg { color: @black !important; }
.white-fg { color: @white !important; }

.no-padding { padding: 0px !important; }
.no-margin { margin: 0px !important; }

.card_shadow { box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12); }
.shadow-1 {	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important; }
.shadow-2 {	box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important; }
.shadow-3 {	box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19) !important; }
.shadow-4 {	box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21) !important; }
.shadow-5 {	box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22) !important; }

.align-center { text-align: center;	}
.align-left {	text-align: left;	}
.align-right {	text-align: right;	}
.align-justify {text-align: justify;}

.hidden {display: none;}

.pin-left {	float: left !important; }
.pin-right { float: right !important; }

a {
	text-decoration: none;
}

code {
	color: @red;
	padding: 0.05em 0.1em;
	font-size: 0.95em;
	background-color: @u-gray;
	border-radius: 0.05em;
}

.margin-left-0 { margin-left: 0em; }
.margin-left-1 { margin-left: 1em; }
.margin-left-3 { margin-left: 3em; }
.margin-left-5 { margin-left: 5em; }

.margin-right-0 { margin-right: 0em; }
.margin-right-1 { margin-right: 1em; }
.margin-right-3 { margin-right: 3em; }
.margin-right-5 { margin-right: 5em; }

.margin-top-0 { margin-top: 0em; }
.margin-top-1 { margin-top: 1em; }
.margin-top-3 { margin-top: 3em; }
.margin-top-5 { margin-top: 5em; }

.margin-bottom-0 { margin-bottom: 0em; }
.margin-bottom-1 { margin-bottom: 1em; }
.margin-bottom-3 { margin-bottom: 3em; }
.margin-bottom-5 { margin-bottom: 5em; }

.margin-horizontal-0 { margin-left: 0em; margin-right: 0em; }
.margin-horizontal-1 { margin-left: 1em; margin-right: 1em; }
.margin-horizontal-3 { margin-left: 3em; margin-right: 3em; }
.margin-horizontal-5 { margin-left: 5em; margin-right: 5em; }

.margin-vertical-0 { margin-top: 0em; margin-bottom: 0em; }
.margin-vertical-1 { margin-top: 1em; margin-bottom: 1em; }
.margin-vertical-3 { margin-top: 3em; margin-bottom: 3em; }
.margin-vertical-5 { margin-top: 5em; margin-bottom: 5em; }

.margin-0 { margin: 0em; }
.margin-1 { margin: 1em; }
.margin-3 { margin: 3em; }
.margin-5 { margin: 5em; }

.padding-left-0 { padding-left: 0em; }
.padding-left-1 { padding-left: 1em; }
.padding-left-3 { padding-left: 3em; }
.padding-left-5 { padding-left: 5em; }

.padding-right-0 { padding-right: 0em; }
.padding-right-1 { padding-right: 1em; }
.padding-right-3 { padding-right: 3em; }
.padding-right-5 { padding-right: 5em; }

.padding-top-0 { padding-top: 0em; }
.padding-top-1 { padding-top: 1em; }
.padding-top-3 { padding-top: 3em; }
.padding-top-5 { padding-top: 5em; }

.padding-bottom-0 { padding-bottom: 0em; }
.padding-bottom-1 { padding-bottom: 1em; }
.padding-bottom-3 { padding-bottom: 3em; }
.padding-bottom-5 { padding-bottom: 5em; }

.padding-horizontal-0 { padding-left: 0em; padding-right: 0em; }
.padding-horizontal-1 { padding-left: 1em; padding-right: 1em; }
.padding-horizontal-3 { padding-left: 3em; padding-right: 3em; }
.padding-horizontal-5 { padding-left: 5em; padding-right: 5em; }

.padding-vertical-0 { padding-top: 0em; padding-bottom: 0em; }
.padding-vertical-1 { padding-top: 1em; padding-bottom: 1em; }
.padding-vertical-3 { padding-top: 3em; padding-bottom: 3em; }
.padding-vertical-5 { padding-top: 5em; padding-bottom: 5em; }

.padding-0 { padding: 0em; }
.padding-1 { padding: 1em; }
.padding-3 { padding: 3em; }
.padding-5 { padding: 5em; }

.set-circle-color(@color) {
	width: 1em;
	height: 1em;
	background-color: @color;
	border-radius: 1em;
	display: inline-block;
}

.red-circle { .set-circle-color(@red); }
.orange-circle { .set-circle-color(@orange); }
.yellow-circle { .set-circle-color(@yellow); }
.olive-circle { .set-circle-color(@olive); }
.green-circle { .set-circle-color(@green); }
.teal-circle { .set-circle-color(@teal); }
.blue-circle { .set-circle-color(@blue); }
.violet-circle { .set-circle-color(@violet); }
.purple-circle { .set-circle-color(@purple); }
.pink-circle { .set-circle-color(@pink); }
.brown-circle { .set-circle-color(@brown); }
.u-gray-circle { .set-circle-color(@u-gray); }
.l-gray-circle { .set-circle-color(@l-gray); }
.m-gray-circle { .set-circle-color(@m-gray); }
.d-gray-circle { .set-circle-color(@d-gray); }
.black-circle { .set-circle-color(@black); }
.white-circle { .set-circle-color(@white); }

.set-ring-color(@color) {
	width: 1em;
	height: 1em;
	background-color: transparent;
	border: 1px solid @color;
	box-sizing: border-box;
	border-radius: 1em;
	display: inline-block;
}

.reg-ring { .set-ring-color(@red); }
.orange-ring { .set-ring-color(@orange); }
.yellow-ring { .set-ring-color(@yellow); }
.olive-ring { .set-ring-color(@olive); }
.green-ring { .set-ring-color(@green); }
.teal-ring { .set-ring-color(@teal); }
.blue-ring { .set-ring-color(@blue); }
.violet-ring { .set-ring-color(@violet); }
.purple-ring { .set-ring-color(@purple); }
.pink-ring { .set-ring-color(@pink); }
.brown-ring { .set-ring-color(@brown); }
.u-gray-ring { .set-ring-color(@u-gray); }
.l-gray-ring { .set-ring-color(@l-gray); }
.m-gray-ring { .set-ring-color(@m-gray); }
.d-gray-ring { .set-ring-color(@d-gray); }
.black-ring { .set-ring-color(@black); }
.white-ring { .set-ring-color(@white); }