.table-grid {
  display: table;
  width: 100%;
  vertical-align: top;
}
.table-grid.direction-row .col {
  display: table-row;
}
.table-grid.direction-column .col {
  display: table-cell;
}
.table-grid.main-align-left {
  text-align: left;
}
.table-grid.main-align-right {
  text-align: right;
}
.table-grid.main-align-center {
  text-align: center;
}
.table-grid.main-align-between {
  text-align: justify;
}
.table-grid.sub-align-top {
  vertical-align: top;
}
.table-grid.sub-align-bottom {
  vertical-align: bottom;
}
.table-grid.sub-align-center {
  vertical-align: middle;
}
.table-grid.sub-align-fit .col {
  height: 100%;
}
.table-grid.sub-align-baseline {
  vertical-align: baseline;
}
.table-grid .col {
  display: table-cell;
}
.table-grid .col.col-1 {
  width: 8.333%;
}
.table-grid .col.col-2 {
  width: 16.66%;
}
.table-grid .col.col-3 {
  width: 25%;
}
.table-grid .col.col-4 {
  width: 33.333%;
}
.table-grid .col.col-5 {
  width: 40.73%;
}
.table-grid .col.col-6 {
  width: 50%;
}
.table-grid .col.col-7 {
  width: 57.66%;
}
.table-grid .col.col-8 {
  width: 66.13%;
}
.table-grid .col.col-9 {
  width: 75%;
}
.table-grid .col.col-10 {
  width: 83.06%;
}
.table-grid .col.col-11 {
  width: 91.53%;
}
.table-grid .col.col-12 {
  width: 100%;
}
