img {
	&.img--responsive {
		width: 100%;
		height: auto;
	}

	&.img--smooth {
		border-radius: 0.5em;
	}

	&.img--rounded {
		border-radius: 1em;
	}

	&.img--circle {
		border-radius: 50%;
	}

	&.img--border {
		border: 0.25em solid @u-gray;
	}
}