img {
	&.img--responsive {
		width: 100%;
		height: auto;
	}

	&.img--smooth {
		border-radius: 0.5em;
	}

	&.img--rounded {
		border-radius: 1em;
	}

	&.img--circle {
		border-radius: 50%;
	}

	&.img--border {
		border: 0.25em solid @u-gray;
		.card_shadow();
	}
}

.carousel {
	width: 100%;
	background-color: @l-gray;
	min-height: 16em;
	max-height: 16em;
	position: relative;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;

	.carousel__item {
		display: none;
	}

	.carousel__panel {
		width: 100%;
		background-color: rgba(245, 245, 245, .7);		
		color: @d-gray;
		display: flex;
		position: absolute;
		bottom: 0em;
		left: 0em;
		align-items: center;

		.carousel__panel__text {
			flex: 6;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			font-weight: bold;
			padding: 0.5em 1em;
			box-sizing: border-box;
		}

		.carousel__panel__counter {
			flex: 1;
			text-align: center;
			font-size: 0.8em;
		}

		.carousel__panel__navigation {
			flex: 1;
			text-align: right;
			font-size: 0;

			.carousel__panel__navigation__button {
				cursor: pointer;
				flex: 1;
				padding: 1em;
				content: "";
				font-size: 1rem;
				box-sizing: border-box;
				width: 2em;
				text-align: center;
				display: inline-block;
				margin: 0em;

				&:hover {
					background-color: @u-gray;
				}

				&#prev {
					background-image: @angle-left;
					background-size: 0.5em 1em;
					background-repeat: no-repeat;
					background-position: center;
				}

				&#next {
					background-image: @angle-right;
					background-size: 0.5em 1em;
					background-repeat: no-repeat;
					background-position: center;
				}

				&.disabled {
					color: @l-gray;
					cursor: normal;
					opacity: .25;

					&:hover {
						background-color: transparent;
					}
				}
			}
		}
	}

	&.carousel--invert {
		background-color: @m-gray;

		.carousel__panel {
			background-color: rgba(51, 51, 51, .85);		
			color: @u-gray;

			.carousel__panel__navigation {
				.carousel__panel__navigation__button {
					&:hover {
						background-color: @d-gray;
					}

					&#prev {
						background-image: @angle-left-invert;
					}

					&#next {
						background-image: @angle-right-invert;
					}

					&.disabled {
						opacity: .25;
					}
				}
			}
		}
	}
}

@media (max-width: @l-mobile) {
	.carousel {
		.carousel__panel {
			.carousel__panel__text {
				flex: 4;
			}
			.carousel__panel__navigation {
				flex: 2;
			}
		}
	}
}

.gallery {
	.gallery__collection {
		padding: 1em;
		position: relative;
		overflow: hidden;
		text-align: center;

		img {
			border: 2px solid @white;
			width: 7em;
			height: auto;
			border-radius: 0.5em;
			opacity: 0.8;
			.anim(0.3s);
			.card_shadow();

			&:nth-child(1) {
				position: absolute;
				z-index: -1;
				transform: rotate(-10deg);
				opacity: 0.75;
			}

			&:nth-child(3) {
				margin-left: ~'calc(-7em - 5px)';
				z-index: 1;
				position: absolute;
				transform: rotate(10deg);
				opacity: 1;
			}
		}

		.gallery__collection__title {
			font-weight: bold;
			color: @d-gray;
			margin-top: 2em;
			.pt();
		}

		&.gallery__collection--grayscale {
			img {
				&:nth-child(1), &:nth-child(2) {
					filter: grayscale(100%);
				}
			}
		}

		&:hover {
			cursor: pointer;

			img {
				&:nth-child(1) {
					transform: rotate(10deg);
				}
				&:nth-child(3) {
					transform: rotate(-15deg) scale(1.1);
				}
			}
		}
	}
}