.grid {
	clear: both;
	padding: 0em;
	margin: 0px;
	zoom: 1;
	width: 100%;

	&:not(.parallax__layer) {
		overflow: hidden;		
	}

	[class^='col-'] {
		display: inline-block;
		float: left;
	}

	.col-1 { width: 8.33%; }
	.col-2 { width: 16.66%; }
	.col-3 { width: 25%; }
	.col-4 { width: 33.33%; }
	.col-5 { width: 41.66%; }
	.col-6 { width: 50%; }
	.col-7 { width: 58.33%; }
	.col-8 { width: 66.66%; }
	.col-9 { width: 75%; }
	.col-10 { width: 83.33%; }
	.col-11 { width: 91.66%; }
	.col-12 { width: 100%; }

	.offset-1 { margin-left: 8.33%; }
	.offset-2 { margin-left: 16.66%; }
	.offset-3 { margin-left: 25%; }
	.offset-4 { margin-left: 33.33%; }
	.offset-5 { margin-left: 41.66%; }
	.offset-6 { margin-left: 50%; }
	.offset-7 { margin-left: 58.33%; }
	.offset-8 { margin-left: 66.66%; }
	.offset-9 { margin-left: 75%; }
	.offset-10 { margin-left: 83.33%; }
	.offset-11 { margin-left: 91.66%; }
}

@media (max-width: @l-tablet) {
	.grid {
		[class^='col-'] {
			&.col-lt-1 {	width: 10%;	}
			&.col-lt-2 {	width: 20%;	}
			&.col-lt-3 {	width: 30%;	}
			&.col-lt-4 {	width: 40%;	}
			&.col-lt-5 {	width: 50%;	}
			&.col-lt-6 {	width: 60%;	}
			&.col-lt-7 {	width: 70%;	}
			&.col-lt-8 {	width: 80%;	}
			&.col-lt-9 {	width: 90%;	}
			&.col-lt-10 {	width: 100%;	}

			&.offset-lt-0 { margin-left: 0%; }
			&.offset-lt-1 {	margin-left: 10%;	}
			&.offset-lt-2 {	margin-left: 20%;	}
			&.offset-lt-3 {	margin-left: 30%;	}
			&.offset-lt-4 {	margin-left: 40%;	}
			&.offset-lt-5 {	margin-left: 50%;	}
			&.offset-lt-6 {	margin-left: 60%;	}
			&.offset-lt-7 {	margin-left: 70%;	}
			&.offset-lt-8 {	margin-left: 80%;	}
			&.offset-lt-9 {	margin-left: 90%;	}
		}
	}
}

@media (max-width: @tablet) {
	.grid {
		[class^='col-'] {
			&.col-t-1 {	width: 12.5%;	}
			&.col-t-2 {	width: 25%;	}
			&.col-t-3 {	width: 37.5%;	}
			&.col-t-4 {	width: 50%;	}
			&.col-t-5 {	width: 62.5%;	}
			&.col-t-6 {	width: 75%;	}
			&.col-t-7 {	width: 87.5%;	}
			&.col-t-8 {	width: 100%;	}

			&.offset-t-0 { margin-left: 0%; }
			&.offset-t-1 { margin-left: 12.5%; }
			&.offset-t-2 { margin-left: 25%; }
			&.offset-t-3 { margin-left: 37.5%; }
			&.offset-t-4 { margin-left: 50%; }
			&.offset-t-5 { margin-left: 62.5%; }
			&.offset-t-6 { margin-left: 75%; }
			&.offset-t-7 { margin-left: 87.5%; }
		}
	}
}

@media (max-width: @l-mobile) {
	.grid {
		[class^='col-'] {
			&.col-lm-1 {	width: 16.66%;	}
			&.col-lm-2 {	width: 33.33%;	}
			&.col-lm-3 {	width: 50%;	}
			&.col-lm-4 {	width: 66.66%;	}
			&.col-lm-5 {	width: 83.33%;	}
			&.col-lm-6 {	width: 100%;	}

			&.offset-lm-0 { margin-left: 0%; }
			&.offset-lm-1 {	margin-left: 16.66%;	}
			&.offset-lm-2 {	margin-left: 33.33%;	}
			&.offset-lm-3 {	margin-left: 50%;	}
			&.offset-lm-4 {	margin-left: 66.66%;	}
			&.offset-lm-5 {	margin-left: 83.33%;	}
		}
	}
}

@media (max-width: @mobile) {
	.grid {
		[class^='col-'] {
			&.col-m-1 {	width: 25%;	}
			&.col-m-2 {	width: 50%;	}
			&.col-m-3 {	width: 75%;	}
			&.col-m-4 {	width: 100%;	}

			&.offset-m-0 { margin-left: 0%; }
			&.offset-m-1 { margin-left: 25%; }
			&.offset-m-2 { margin-left: 50%; }
			&.offset-m-3 { margin-left: 75%; }
		}
	}
}

.masonry-grid {
	-webkit-column-count: 2;
	-moz-column-count: 2;
	column-count: 2;	
	-webkit-column-gap: 1em;
	-moz-column-gap: 1em;
	column-gap: 1em;

	&.masonry-grid--columns-1 { 
		-webkit-column-count: 1;
		-moz-column-count: 1;
		column-count: 1;
	}
	&.masonry-grid--columns-3 { 
		-webkit-column-count: 3;
		-moz-column-count: 3;
		column-count: 3;
	}
	&.masonry-grid--columns-4 { 
		-webkit-column-count: 4;
		-moz-column-count: 4;
		column-count: 4;
	}
	&.masonry-grid--columns-5 { 
		-webkit-column-count: 5;
		-moz-column-count: 5;
		column-count: 5;
	}
	&.masonry-grid--columns-6 { 
		-webkit-column-count: 6;
		-moz-column-count: 6;
		column-count: 6;
	}

	&.masonry-grid--no-margin {
		-webkit-column-gap: 0em;
		-moz-column-gap: 0em;
		column-gap: 0em;
	}
	&.masonry-grid--margin-small {
		-webkit-column-gap: 0.25em;
		-moz-column-gap: 0.25em;
		column-gap: 0.25em;
	}
	&.masonry-grid--margin-medium {
		-webkit-column-gap: 0.5em;
		-moz-column-gap: 0.5em;
		column-gap: 0.5em;
	}

	.masonry-item {
		display: inline-block;
		width: 100%;
		margin: 1em 0px;
	}
}

@media (max-width: @l-tablet) {
	.masonry-grid {
		&.masonry-grid--lt-columns-1 { 
			-webkit-column-count: 1;
			-moz-column-count: 1;
			column-count: 1; 
		}
		&.masonry-grid--lt-columns-2 { 
			-webkit-column-count: 2;
			-moz-column-count: 2;
			column-count: 2; 
		}
		&.masonry-grid--lt-columns-3 { 
			-webkit-column-count: 3;
			-moz-column-count: 3;
			column-count: 3; 
		}
		&.masonry-grid--lt-columns-4 { 
			-webkit-column-count: 4;
			-moz-column-count: 4;
			column-count: 4; 
		}
		&.masonry-grid--lt-columns-5 { 
			-webkit-column-count: 5;
			-moz-column-count: 5;
			column-count: 5; 
		}
		&.masonry-grid--lt-columns-6 { 
			-webkit-column-count: 6;
			-moz-column-count: 6;
			column-count: 6; 
		}
	}
}

@media (max-width: @tablet) {
	.masonry-grid {
		&.masonry-grid--t-columns-1 { 
			-webkit-column-count: 1;
			-moz-column-count: 1;
			column-count: 1;
		}
		&.masonry-grid--t-columns-2 { 
			-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
		}
		&.masonry-grid--t-columns-3 { 
			-webkit-column-count: 3;
			-moz-column-count: 3;
			column-count: 3;
		}
		&.masonry-grid--t-columns-4 { 
			-webkit-column-count: 4;
			-moz-column-count: 4;
			column-count: 4;
		}
		&.masonry-grid--t-columns-5 { 
			-webkit-column-count: 5;
			-moz-column-count: 5;
			column-count: 5;
		}
		&.masonry-grid--t-columns-6 { 
			-webkit-column-count: 6;
			-moz-column-count: 6;
			column-count: 6;
		}
	}
}

@media (max-width: @l-mobile) {
	.masonry-grid {
		&.masonry-grid--lm-columns-1 { 
			-webkit-column-count: 1;
			-moz-column-count: 1;
			column-count: 1;
		}
		&.masonry-grid--lm-columns-2 { 
			-webkit-column-count: 2;
			-moz-column-count: 2;
			column-count: 2;
		}
		&.masonry-grid--lm-columns-3 { 
			-webkit-column-count: 3;
			-moz-column-count: 3;
			column-count: 3;
		}
		&.masonry-grid--lm-columns-4 { 
			-webkit-column-count: 4;
			-moz-column-count: 4;
			column-count: 4;
		}
		&.masonry-grid--lm-columns-5 { 
			-webkit-column-count: 5;
			-moz-column-count: 5;
			column-count: 5;
		}
		&.masonry-grid--lm-columns-6 { 
			-webkit-column-count: 6;
			-moz-column-count: 6;
			column-count: 6;
		}
	}
}

@media (max-width: @mobile) {
	.masonry-grid {
		&.masonry-grid--m-columns-1 { 
			-webkit-column-count: 1;
			-moz-column-count: 1;
			column-count: 1;
		}
		&.masonry-grid--m-columns-2 { 
			-webkit-column-count: 2;
			-moz-column-count: 2;
			column-count: 2;
		}
		&.masonry-grid--m-columns-3 { 
			-webkit-column-count: 3;
			-moz-column-count: 3;
			column-count: 3;
		}
		&.masonry-grid--m-columns-4 { 
			-webkit-column-count: 4;
			-moz-column-count: 4;
			column-count: 4;
		}
		&.masonry-grid--m-columns-5 { 
			-webkit-column-count: 5;
			-moz-column-count: 5;
			column-count: 5;
		}
		&.masonry-grid--m-columns-6 { 
			-webkit-column-count: 6;
			-moz-column-count: 6;
			column-count: 6;
		}
	}
}

.table-grid {
	display: table;
	width: 100%;
	vertical-align: top;
	
	&.direction-row {
		.col {
			display: table-row;
		}
	}

	&.direction-column {
		.col {
			display: table-cell;
		}
	}

	&.main-align {
		&-left {	text-align: left;	}
		&-right {	text-align: right;	}
		&-center {	text-align: center;	}
		&-between {	text-align: justify;	}
	}

	&.sub-align {
		&-top {	vertical-align: top;	}
		&-bottom {	vertical-align: bottom;	}
		&-center {	vertical-align: middle;	}
		&-fit {	.col {	height: 100%; 	}	}
		&-baseline {	vertical-align: baseline;	}
	}

	.col {
		display: table-cell;


		&.col {
			&-1 { width: 8.333%;	}
			&-2 { width: 16.66%;	}
			&-3 { width: 25%;	}
			&-4 { width: 33.333%;	}
			&-5 { width: 40.73%;	}
			&-6 { width: 50%;	}
			&-7 { width: 57.66%;	}
			&-8 { width: 66.13%;	}
			&-9 { width: 75%;	}
			&-10 { width: 83.06%;	}
			&-11{ width: 91.53%;	}
			&-12 { width: 100%;	}
		}		
	}
}

.horizontal-layout {
	display: flex;

	.column {
		flex: 1;

		&.column--centered {
			text-align: center;
		}
	}

	&.horizontal-layout--centered {
		align-items: center;
	}

	&.horizontal-layout--stripped {
		.column:nth-child(even) {
			background-color: darken(@u-gray, 5%);
		}
	}
}

.vertical-layout {
	display: flex;
	flex-direction: column;
	background-color: @u-gray;
	color: @d-gray;

	.row {
		flex: 1;
	}

	&.vertical-layout--reverse {
		flex-direction: column-reverse;
	}

	&.vertical-layout--stripped {
		.row:nth-child(even) {
			background-color: darken(@u-gray, 5%);
		}
	}

	&.vertical-layout--invert {
		background-color: @d-gray;
		color: @white;

		&.vertical-layout--stripped {
			.row:nth-child(even) {
				background-color: lighten(@d-gray, 5%);
			}
		}
	}
}

.loading-layout {
	background-color: @u-gray;
	width: 100%;
	padding: 3em 0em;
	background-image: @loading;
	background-repeat: no-repeat;
	background-size: 1em 1em;
	background-position: center center;

	&.loading-layout--invert {
		background-color: lighten(@d-gray, 5%);
		background-image: @loading-invert;

		&.loading-layout--transparent {
			background-color: transparent;
		}
	}

	&.loading-layout--transparent {
		background-color: transparent;
	}
}