@media (max-width: @tablet) {
	.col {
		margin: 0px !important;

		&-t-1 { width: 12.5% !important;}
		&-t-2 { width: 25% !important;}
		&-t-3 { width: 37.5% !important;}
		&-t-4 { width: 50% !important;}
		&-t-5 { width: 62.5% !important;}
		&-t-6 { width: 75% !important;}
		&-t-7 { width: 87.5% !important;}
		&-t-8 { width: 100% !important;}
		&-* { width: 100% !important}		
	}

	/*.grid {
		.col--d-offset-1,	.col--d-offset-2,	.col--d-offset-3,	
		.col--d-offset-4,	.col--d-offset-5,	.col--d-offset-6 {
			margin-left: 0em;
		}
	}*/
}

@media (max-width: @mobile) {
	.col {
		margin: 0px !important;

		&-m-1 { width: 25% !important;}
		&-m-2 { width: 50% !important;}
		&-m-3 { width: 75% !important;}
		&-m-4 { width: 100% !important;}
		&-* { width: 100% !important}	
	}

	/*.col-m-1,	.col-m-2,	.col-m-3,	.col-m-4 {
		&.col--only-t, &.col--only-d {
			display: none;
		}
	}*/
}

.set-offset(@size) {
	margin-left: @size;
}

.set-size(@size) {
	vertical-align: top;
	font-size: medium;
	display: inline-block;
	min-height: 1px;
	margin: 0px;
	box-sizing: border-box;
	width: @size;
	float: left;
	content: "";

	&.col--padding {
		padding: 5px;
	}
}

.grid {
	clear: both;
	padding: 0px;
	margin: 0px;
	zoom: 1;
	width: 100%;

	&:before, &:after {
		content: "";
		display: table;
	}

	&:after {
		clear: both;
	}

	&.grid--gutters {
		box-sizing: border-box;

		[class^='col-'], [class^='col-t-'], [class^='col-m-']{
			padding-right: 2em;

			&:last-of-type {
				padding-right: 0em;
			}
		} 
	}

	.col-1 { .set-size(8.333%); }
	.col-2 { .set-size(16.66%); }
	.col-3 { .set-size(25%); }
	.col-4 { .set-size(33.33%); }
	.col-5 { .set-size(41.66%); }
	.col-6 { .set-size(50%); }
	.col-7 { .set-size(58.33%); }
	.col-8 { .set-size(66.66%); }
	.col-9 { .set-size(75%); }
	.col-10 { .set-size(83.33%); }
	.col-11 { .set-size(91.66%); }
	.col-12 { .set-size(100%); }	

	[class^='col-'] {
		&.col--offset-1 { .set-offset(8.333%); }
		&.col--offset-2 { .set-offset(16.66%); }
		&.col--offset-3 { .set-offset(25%); }
		&.col--offset-4 { .set-offset(33.33%); }
		&.col--offset-5 { .set-offset(41.66%); }
		&.col--offset-6 { .set-offset(50%); }
	}
}

.flex {
	display: flex;

	&.direction-row {
		flex-direction: row;
	}
	&.direction-column {
		flex-direction: column;
	}

	&.main-align {
		&-left {	justify-content: flex-start;	}
		&-right {	justify-content: flex-end;	}
		&-center {	justify-content: center;	}
		&-between {	justify-content: space-between;	}
		&-around {	justify-content: space-around;	}
	}

	&.sub-align {
		&-top {	align-items: flex-start;	}
		&-bottom {	align-items: flex-end;	}
		&-center {	align-items: center;	}
		&-fit {	align-items: stretch;	}
		&-baseline {	align-items: baseline;	}
	}

	&.no-wrap { flex-wrap: nowrap; }
	&.wrap { flex-wrap: wrap; }
	&.reverse { flex-wrap: wrap-reverse; }

	.col {
		&.col-1 { flex-grow: 1; }	
		&.col-2 { flex-grow: 2; }
		&.col-3 { flex-grow: 3; }
		&.col-4 { flex-grow: 4; }
		&.col-5 { flex-grow: 5; }
		&.col-6 { flex-grow: 6; }
		&.col-7 { flex-grow: 7; }
		&.col-8 { flex-grow: 8; }
		&.col-9 { flex-grow: 9; }
		&.col-10 { flex-grow: 10; }
		&.col-11 { flex-grow: 11; }
		&.col-12 { flex-grow: 12; }
	}
}

.table-grid {
	display: table;
	width: 100%;
	vertical-align: top;
	
	&.direction-row {
		.col {
			display: table-row;
		}
	}

	&.direction-column {
		.col {
			display: table-cell;
		}
	}

	&.main-align {
		&-left {	text-align: left;	}
		&-right {	text-align: right;	}
		&-center {	text-align: center;	}
		&-between {	text-align: justify;	}
	}

	&.sub-align {
		&-top {	vertical-align: top;	}
		&-bottom {	vertical-align: bottom;	}
		&-center {	vertical-align: middle;	}
		&-fit {	.col {	height: 100%; 	}	}
		&-baseline {	vertical-align: baseline;	}
	}

	.col {
		display: table-cell;


		&.col {
			&-1 { width: 8.333%;	}
			&-2 { width: 16.66%;	}
			&-3 { width: 25%;	}
			&-4 { width: 33.333%;	}
			&-5 { width: 40.73%;	}
			&-6 { width: 50%;	}
			&-7 { width: 57.66%;	}
			&-8 { width: 66.13%;	}
			&-9 { width: 75%;	}
			&-10 { width: 83.06%;	}
			&-11{ width: 91.53%;	}
			&-12 { width: 100%;	}
		}		
	}
}

.horizontal-layout {
	display: flex;

	.column {
		flex: 1;

		&.column--centered {
			text-align: center;
		}
	}

	&.horizontal-layout--centered {
		align-items: center;
	}
}