.only-d { display: block !important; }
.only-m, .only-t { display: none !important;}

.hide-d { display: none !important; }
.hide-m { display: block !important; }
.hide-t { display: block !important; }

.only-d { display: block !important; }
.only-d--i { display: inline !important; }
.only-d--ib { display: inline-block !important; }
.only-lt { display: none !important; }
.only-t { display: none !important; }
.only-lm { display: none !important; }
.only-m { display: none !important; }

@media (max-width: @l-tablet) {
  .only-d { display: none !important; }
  .only-lt { display: block !important; }
  .only-lt--i { display: inline !important; }
  .only-lt--ib { display: inline-block !important; }
  .only-t { display: none !important; }
  .only-lm { display: none !important; }
  .only-m { display: none !important; }
}

@media (max-width: @tablet) {
  .only-d { display: none !important; }
  .only-lt { display: none !important; }
  .only-t { display: block !important; }
  .only-t--i { display: inline !important; }
  .only-t--ib { display: inline-block !important; }
  .only-lm { display: none !important; }
  .only-m { display: none !important; }
}

@media (max-width: @l-mobile) {
  .only-d { display: none !important; }
  .only-lt { display: none !important; }
  .only-t { display: none !important; }
  .only-lm { display: block !important; }
  .only-lm--i { display: inline !important; }
  .only-lm--ib { display: inline-block !important; }
  .only-m { display: none !important; }
}

@media (max-width: @mobile) {
  .only-d { display: none !important; }
  .only-lt { display: none !important; }
  .only-t { display: none !important; }
  .only-lm { display: none !important; }
  .only-m { display: block !important; }
  .only-m--i { display: inline !important; }
  .only-m--ib { display: inline-block !important; }
}

.hidden {display: none;}