.modal {
  display: none;
  position: fixed;
  z-index: 15;
  width: 50%;
  height: auto;
  margin: 5vh 25%;
  left: 0;
  top: 0;
  border-radius: @smooth;
  background-color: @u-gray;
  overflow: hidden;

  .modal__header {
    color: @d-gray;
    max-width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    oveflow: hidden;
    display: flex;
    .bold();

    &:first-child {
      border-left: none;
    }

    &:last-child {
      border-right: none;
    }

    .modal__header-button {
      padding: 0.5rem 0.75rem;
      border: 1px solid @l-gray;
      border-left: none;
      border-top: none;
      cursor: pointer;
      transition: background-color 0.1s ease-in-out;

      &:first-child {
        border-left: 1px solid @l-gray;
      }

      &:hover, &:focus {
        background-color: darken(@u-gray, 5%);
      }
    }

    .modal__title {
      flex: 1;
      text-align: center;
      padding: 0.5rem 1rem;
      align-self: center;
      overflow-x: hidden;
      text-overflow: ellipsis;
    }

    .modal__close {
      content: "";
      width: 2.5rem;
      height: ~'calc(2rem + 4px)';
      border: 1px solid @l-gray;
      border-top: none;
      cursor: pointer;
      background-image: @remove;
      background-size: 50%;
      background-position: center;
      background-repeat: no-repeat;
      transition: background-color 0.1s ease-in-out;

      &:hover, &:focus {
        background-color: darken(@u-gray, 5%);
      }

      &:last-child {
        border-right: none;
      }
    }
  }

  &.modal--show {
    animation: modal-show;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
  }

  &.modal--hide {
    animation: modal-hide;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
  }

  .modal__content {
    margin: 0.25em;
    background-color: @white;
    border-radius: @smooth;
    border: 1px solid darken(@u-gray, 5%);
    padding: 0.5em;
    overflow-y: auto;
    max-height: 60vh;

    &.modal__content--no-borders {
      border: none;
      margin: 0.25em 0em;
      border-radius: 0px;
    }
  }

  .modal__footer {
    margin: 0.25em;
  }

  &.modal--size-large {
    width: 70%;
    margin: 5vh 15%;
  }

  &.modal--size-xl {
    width: 80%;
    margin: 5vh 10%;
  }

  &.modal--size-full {
    width: 96%;
    margin: 5vh 2%;
  }

  &.modal--invert {
    background-color: @d-gray;
    border-color: lighten(@d-gray, 10%);

    .modal__header {
      .modal__header-button {
        color: @u-gray;
        border-color: lighten(@d-gray, 10%);

        &:hover, &:focus {
          background-color: lighten(@d-gray, 5%);
        }
      }
      .modal__title {
        color: @u-gray;
      }
      .modal__close {
        background-image: @remove-invert;
        border-color: lighten(@d-gray, 10%);

        &:hover, &:focus {
          background-color: lighten(@d-gray, 5%);
        }
      }
    }

    .modal__content {
      border-color: lighten(@d-gray, 10%);
      background-color: lighten(@d-gray, 5%);
      color: @white;
    }
  }

  &.modal--animation-attention {
    transform: scale(1.1);
    .animate(~'transform');
  }

  &.modal--no-close {
    .modal__header {
      .modal__header__close {
        display: none;
      }
    }
  }
}

@media (max-width: @l-mobile) {
  .modal {
    &, &.modal--size-large, &.modal--size-xlarge, &.modal--size-full {
      width: 96%;
      margin: 5vh 2%;
    }
  }
}

@keyframes modal-show {
  from {
    margin-top: 3vh;
    opacity: 0;
  }
  to {
    margin-top: 5vh;
    opacity: 1;
  }
}

@keyframes modal-hide {
  from {
    margin-top: 5vh;
    opacity: 1;
  }
  to {
    margin-top: 3vh;
    opacity: 0;
  }
}