@media (prefers-color-scheme: dark) {
  :root {
    --backgroundColor: #212121;

    --contentBackground: #2e2e2e;

    --formBackground: #252423;
    --formBorder: #484848;
    --interactiveFormBackground: #424242;

    --warning: #f57f17;

    --danger: #b71c1c;

    --success: #2e7d32;

    --textColor: #ffffff;
    --textFaded: #999999;
    --invertedTextColor: #ffffff;

    --invertedColor: #ffffff;
  }
}