@media (prefers-color-scheme: dark) {
  :root {
    --backgroundColor: #212121;

    --formBackground: #252423;
    --formBorder: #484848;
    --interactiveFormBackground: #424242;

    --textColor: #ffffff;
    --textFaded: #999999;

    --invertedColor: #ffffff;
  }
}