body {
  background-color: var(--backgroundColor);
  color: var(--textColor);
  font-family: var(--fontFamily);
}

.page {
  width: var(--pageWidth);
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: $tablet) {
  .page {
    width: calc(100% - var(--hgap));
    margin-left: calc(var(--hgap) / 2);
    margin-right: calc(var(--hgap) / 2);
  }
}