.form-group {
  display: flex;
  font-family: var(--fontFamily);
  flex-wrap: wrap;

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    padding-bottom: 0;
  }

  .a-button {
    margin: 0;
  }

  > * {
    border-radius: 0;
  }

  > *:last-child {
    border-top-right-radius: var(--baseRadius);
    border-bottom-right-radius: var(--baseRadius);
  }
}

.form-group__label {
  width: 100%;
  margin-bottom: var(--baseVerticalMargin);
  font-weight: 500;
  font-size: var(--baseFont);
  color: var(--textColor);
}