.form {
  display: flex;
  flex-flow: column wrap;

  .input, input[type="text"], input[type="password"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="month"], input[type="week"], select, textarea {
    margin: 0.25rem 0;
    border-radius: @smooth;
    border: 1px solid @l-gray;
    outline: none;
    background-color: @u-gray;
    padding: 0.5rem 1rem;
    box-sizing: border-box;
    resize: vertical;
    color: @black;
    .animate(~'background-color', 0.1s);
    .pt();

    &:active, &:focus {
      background-color: @white;
    }

    &:disabled {
      cursor: not-allowed;
      opacity: .5;
      user-select: none;

      &:active, &:focus {
        background-color: @u-gray;
      }
    }
  }

  textarea {
    min-height: ~'calc(2.5em)';
  }

  .form__actions {
    display: flex;
    margin: 0.5rem 0;
    padding: 0 0.5rem;

    input[type="submit"], input[type="reset"], input[type="button"], button, a.button {
      display: inline-flex;
      align-self: start;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &.form--invert {
    .input, input[type="text"], input[type="password"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="month"], input[type="week"], select, textarea {
      background-color: @d-gray;
      color: @white;
      border-color: lighten(@d-gray, 5%);

      &:active, &:focus {
        background-color: darken(@d-gray, 5%);

        &:disabled {
          background-color: @d-gray;
        }
      }
    }
  }

  &.form--inline {
    flex-direction: row;
    align-items: flex-end;

    .form__group {
      margin: 0;
    }
  }
}