.feed {
  display: flex;
  padding: 1rem 0.5rem;
  box-sizing: border-box;
  border-bottom: 1px solid @u-gray;

  &:last-child {
    border-bottom: none;
  }

  .feed__image {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    margin: 0 0.25rem;
  }

  .feed__content {
    flex: 1;
    padding: 0 0.5rem;
    color: @d-gray;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .feed__title {
      cursor: pointer;
      font-size: 1.2em;
      flex: 0;
      .bold();
    }

    .feed__message {
      margin: 0.5rem 0rem;
      flex: 1;
      .pt();
    }

    .feed__meta {
      color: @m-gray;
      flex: 0;
      font-size: 0.9em;
      .pt();
    }
  }

  &.feed--invert {
    border-bottom-color: lighten(@d-gray, 5%);

    .feed__content {
      .feed__title, .feed__message {
        color: @u-gray;
      }
    }
  }
}

@media (max-width: @l-mobile) {
  .feed {
    padding: 1rem 0.2rem;

    .feed__image {
      width: 3rem;
      height: 3rem;
    }

    .feed__content {
      padding: 0 0.25rem;
    }
  }
}